:root {
    /* text */
    --primary--text-color: black;
    --secondary--text-color: black;

    /* container */
    --primary-container-bg: white;
    --secondary-container-bg: #4600ff52;
    
    /* button */
    --primary-button: purple;
    --secondary-button: blue;
}

.dark_mode {
    /* text */
    --primary--text-color: black;
    --secondary--text-color: white;

    /* container */
    --primary-container-bg: black;
    --secondary-container-bg: white;

    
    /* button */
    --primary-button: purple;
    --secondary-button: red;
}


body {
    background-color: var(--primary-container-bg);
}