:root {
    --primary-color: black;
    --primary-background: white;
    --primary-button: purple;
    --secondary-button: white
}

.dark_mode {
    --primary-color: white;
    --primary-background: gray;
    --primary-button: purple;
    --secondary-button: red;
}


body {
    background-color: var(--primary-background);
}